* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background-color: #072a36;
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.btn::before {
  border-radius: 50px 50px 50px 50px;
  color: #fff;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(
    60deg,
    rgb(4, 17, 3, 1) 0%,
    rgb(41, 210, 41, 1) 100%
  );
  top: 0;
  left: -100%;
  z-index: -1;
}

.btn:hover::before {
  left: 0;
}
